application/files/**/**/*
!application/files/index.html

concrete/composer.lock
concrete/vendor

updates/*
concrete/packages/*
application/languages/*

application/themes/tease_company_theme/js/*
application/themes/tease_company_theme/css/*
application/config/*

.htaccess
error_log
.sass-cache/
node_modules

application/config/site.php
application/config/database.php
