#offer_overview {
    @media(min-width:$screen-md) {
        .left-column, .right-column {
            padding: $spacing * 3;
        }
        .right-column {
            background: $paleBlue;
        }
    }

    @media(max-width:$screen-sm) {
        text-align:center;
    }

    .icon {
        position:absolute;
        top:-15px;
        left:0;
        z-index:2;
        @media(max-width:$screen-md) {
            display:none;
        }
    }
}