#reviews {
    .review_slider {
        background:$coral;
        padding:$spacing *2;

        .slick-prev, .slick-next {
            left:44%;
        }

        .slick-prev {
            top:-22%;
        }

        .slick-next {
            bottom:-22%;
        }
    }

    .icon {
        position:absolute;
        right:-15px;
        top:0;
    }
}