#reviews {
    h2 {
        padding-bottom:$spacing * 5;
        @media(min-width:$screen-md) {
            padding-left:$spacing * 2;
            padding-bottom: $spacing * 8;
        }
    }
    .review_slider {
        background:$coral;
        padding:$spacing *2;

        &.absolute {
            position:absolute;
            bottom:0;
        }

        .slick-prev, .slick-next {
            left:44%;
        }

        .slick-prev {
            top:-60px;
        }

        .slick-next {
            bottom:-60px;
        }
    }

    .icon {
        position:absolute;
        right:-15px;
        top:-17px;
        z-index:2;

        @media(max-width:$screen-md) {
            display:none;
        }
    }
}