#philosophy {
    .philosophy_overview {
        position:relative;
        .content {
            position:relative;
        }
        &:before {
            content: '';
            position:absolute;
            width:100%;
            height: 66%;
            bottom:0;
            right:0;
            background: $coral;
        }
    }

    .clients {
        letter-spacing: 10px;
        .number_of_clients {
            h1,h2,h3,h4,h5,h6,p {
                font-size:75px;
                font-weight:bold;
                font-style: italic;
            }
        }
    }

    .icon {
        position:absolute;
        top:-15px;
        right:-20px;
        z-index:2;
    }
}