img {
    max-width:100%;
    height:auto;
}

.align_image_bottom {
    display:flex;
    align-items:flex-end;

    &:hover {
        .pinterest_btn {
            @include opacity(1);
        }
    }
}

.image_wrapper {
    position:relative;
}