.section_padding {
    padding-top:150px;
    padding-bottom:150px;

    @media(max-width:$screen-md) {
        padding-top:50px;
        padding-bottom:50px
    }

    &._small {
        padding-top:50px;
        padding-bottom:50px;
    }

    &._top {
        padding-bottom:0;
    }
}

@for $i from 1 through 10 {
    .p-l-#{$i} {
        padding-left:$spacing * $i;
    }

    .p-r-#{$i} {
        padding-right:$spacing * $i;
    }

    .p-t-#{$i} {
        padding-top:$spacing * $i;
    }

    .p-b-#{$i} {
        padding-bottom:$spacing * $i;
    }
}