a {
    text-decoration:none;
    @include transition(0.2s);
    &:hover, &:focus {
        text-decoration:none;
    }

    &.nav-selected {
        color:$link-hover-color;
    }
}

.large_line_height {
    line-height:2.5em;
}

.heading-styles {
    color:$salmonPink;
    font-weight:bold;
}