body {
    letter-spacing: 4px;
}

a {
    text-decoration:none;
    @include transition(0.4s);
    &:hover, &:focus {
        text-decoration:none;
    }

    &.nav-selected {
        color:$link-hover-color;
    }
}