button[type="submit"], .style_button {
    background: none;
    color: $salmonPink;
    @include border-radius(unset);
    border-width: 2px;
    border-style:solid;
    border-color:$salmonPink;
    padding: 5px 40px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 16px;
    @include transition(0.2s);

    &:hover, &:focus {
        color:#FFFFFF;
        outline:none;
        background:$salmonPink;
        border-color:$salmonPink;
    }
}

.mobile_nav_button {
    position: absolute;
    left: 10px;
    top: 2px;
    cursor: pointer;
}

.pinterest_btn {
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    background:rgba(255,255,255,.6);
    border:none;
    color:#FFFFFF;
    @include opacity(0);
    @include transition(0.2s);
}