.image_area {
    @include clearfix();
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    float:left;

    @for $i from 1 through 9 {
        &:first-child:nth-last-child(#{$i}),
        &:first-child:nth-last-child(#{$i}) ~ .image_area {
            width: 100% / $i
        }
    }

    .image {
        width: 100vmax;
        position: absolute;
        top: 0;
        left: 50%;
        @include transform(translate(-50%,0));
        pointer-events: none;
    }
}