.image_area {
    @include clearfix();
    .image {
        height:450px;
        background-position:center !important;
        background-size:cover !important;
        background-repeat:no-repeat !important;
        float:left;

        @for $i from 1 through 9 {
            &:first-child:nth-last-child(#{$i}),
            &:first-child:nth-last-child(#{$i}) ~ .image {
                width: 100% / $i
            }
        }
    }
    
    &.sm_images {
        .image {
            height: 200px;
        }
    }
}