#now_booking {
    position: absolute;
    right: 0;
    z-index:2;
    margin-top: 10px;

    .now_booking_wrapper {
        color: #fff;
        padding: $spacing ($spacing * 4);
        font-size:14px;
        padding-right:$spacing * 8;
        background: $navy;

        h1,h2,h3,h4,h5,h6,p {
            margin:0;
        }
    }
}