#now_booking {
    position: fixed;
    right: 0;
    z-index:3;
    margin-top: 10px;

    .ccm-block-edit {
        padding:$spacing;
    }
    
    .ccm-area-footer {
        padding:0;
        margin-top:$spacing * 2;
    }

    .now_booking_wrapper {
        color: #fff;
        padding: $spacing ($spacing * 4);
        font-size:14px;
        padding-right:$spacing * 8;
        background: $navy;

        h1,h2,h3,h4,h5,h6,p {
            margin:0;
        }
    }
}