.services_page_list_title .icon {
    width:50px;
    height:50px;
}

.service_title {
    margin-top:80px;
    margin-bottom:20px;
}

.service_item {
    display:flex;
    align-items: baseline;
    font-size:20px;
    font-weight:bold;
    font-style:italic;

    .name, .price {
        padding:0 8px;
    }

    .breakline {
        flex-grow:1;
        border-bottom:2px solid $navy;
    }
}

.member_service_item {
    width:100%;

    .icon {
        height:250px;
        background:$salmonPink;
        background-size:cover !important;
        background-repeat:no-repeat !important;
        background-position:center !important;
        border: 2px solid $salmonPink;
        display:flex;
        align-items:center;
        position:relative;

        &:before {
            position:absolute;
            width:100%;
            height:100%;
            content: '';
            background:rgba(red($salmonPink),green($salmonPink),blue($salmonPink),0.50);
            display:none;
            z-index:1;
        }
        .price {
            display:none;
            margin:0 auto;
            color:#FFFFFF;
            font-size:50px;
            font-weight:bold;
            z-index:2;
        }

        &:after {
            display:none;
            content: '';
            background:url('../images/icons/heart-pink.svg');
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            width:50px;
            height:50px;
            position: absolute;
            z-index: 2;
            top: -20px;
            left: -25px;
        }

        &:hover {
            &:before, &:after, .price {
                display:block;
            }
        }
    }

    .name {
        text-transform:uppercase;
        margin:10px 0;
        font-style:italic;
    }
}