nav {
    position:relative;
    .sub-nav {
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        padding:50px 0;
        background:#FFFFFF;
        border-top:1px solid $navy;
        border-bottom:1px solid $navy;
        z-index:-100;

        .after, .before {
        	bottom: 100%;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        }

        .after {
        	border-color: rgba(0, 0, 0, 0);
        	border-bottom-color: #FFFFFF;
        	border-width: 20px;
        	margin-left: -20px;
            z-index:1;
        }
        .before {
        	border-color: rgba(0, 0, 0, 0);
        	border-bottom-color: #000000;
        	border-width: 21px;
        	margin-left: -21px;
        }

        .sub_nav_item {
            background:$coral;
            padding: $spacing * 3;
            color:#FFFFFF;
            text-decoration:underline;
            text-transform:none;
            height:250px;
            max-width:170px;
            width:90%;
            font-size:$font-size-large;
            overflow-wrap:break-word;
            hyphens:auto;
            display: flex;
            align-items: center;
            margin: 20px auto;
            position:relative;

            em {
                display:block;
                margin:0 auto;
            }

            &:before {
                display:none;
                content: '\f004';
                font-family: FontAwesome;
                position: absolute;
                z-index: 2;
                top: -16px;
                left: -10px;
                font-size: 1.75em;
                color: $salmonPink;
                @include transform(rotate(-36deg));
            }

            &:hover, &:focus {
                &:before {
                    display:block;
                }
            }
        }

        .slick-prev, .slick-next {
            top:32%;
        }

        .slick-prev {
            left:0;
        }

        .slick-next {
            right:0;
        }
    }

    .main_nav {
        margin-bottom:0;

        .nav_section {
            margin:0;
        }

        div[class*='col-md-'] {
            position:initial;
        }

        .logo {
            padding:10px 0;
            display:inline-block;
            img {
                max-width: 100px;
            }
        }

        li {
            padding: 0 !important;

            a {
                padding:22px 40px;
                display:inline-block;
            }

            &:hover {
                .sub-nav {
                    z-index:2;
                }
            }
        }
    }
}