.top_bar {
    background: $pink;
    padding:$spacing 0;

    .logo_icon {
        background:#FFFFFF;
        width:$spacing * 3;
        height:$spacing * 3;
        margin:0 auto;
        @include border-radius(50%);

        img {
            width:100%;
            height:auto;
        }
    }
    
    .social_icons {
        margin-top:$spacing / 2;
        a {
            margin:0 $spacing;
        }
    }
}