.gallery_list_slider {
    .gallery_item {
        border:5px solid $coral;

        @media(max-width:$screen-md) {
            margin-bottom:$spacing * 2;
        }
    }

    .slick-arrow {
        position:absolute;
        top:39%;
    }

    .slick-prev {
        left:-70px;
    }

    .slick-next {
        right:-70px;
    }
}

#gallery_slider_modal {
    .modal-dialog {
        @media(min-width:$screen-md) {
            width:800px;
        }
    }
    .modal-content {
        background-color:transparent;
        @include box-shadow(none);
        border:none;
        @include border-radius(0);
    }
    .modal-body {
        padding:0;
    }

    .slide_count {
        color:#FFFFFF;
        font-size:30px;
    }

    .slider {
        .slick-arrow {
            position:absolute;
            top:40%;
        }

        .slick-prev {
            left:-40px;
        }

        .slick-next {
            right:-40px;
        }

        .slide {
            height:70vh;
            background-position:center !important;
            background-size:contain !important;
            background-repeat:no-repeat !important;
        }
    }
}