.gallery_list_slider {
    .gallery_item {
        border:5px solid $coral;
    }

    .slick-arrow {
        position:absolute;
        top:32%;
    }

    .slick-prev {
        left:-40px;
    }

    .slick-next {
        right:-40px;
    }
}