#team_member_overview {

    @media(max-width:$screen-md) {
        padding-top:80px;
    }

    .avatar {
        @media(min-width:$screen-md) {
            padding-right:$spacing * 2;
            max-width: 45%;
            float:left;
        }
    }

    .service_link_area {
        margin-top:$spacing * 2;
        a {
            border:2px solid;
            border-color:$salmonPink;
            @extend .style_button;
            padding-left:20px;
            padding-right:20px;
            margin:0 5px;
        }
    }

    .overview_wrapper {
        &:before {
            content: '';
            position:absolute;
            width:100%;
            height:75%;
            bottom:0;
            right:0;
            background: $coral;

            @media(min-width:$screen-md) {
                height: 66%;
                width:75%;
            }
        }

        .overview_content {
            z-index:2;
        }
    }

    .team_member_overview {
        position:relative;

        .content {
            position:relative;
            @media(max-width:$screen-md) {
                padding-top:$spacing;
            }
        }
    }

    .icon {
        position:absolute;
        right:-15px;
        top:-19px;

        @media(max-width:$screen-md) {
            display:none;
        }
    }
}